.App__container {
  text-align: center;
}

.Page {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: red;
  font-weight: 900;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.Page .title {
  font-size:48px;
}

.Page .content {
  font-size:24px;
}

.Page.hiddenright {
  right:-100%;
  left: 100%;
}

.Page.hiddenleft {
  left:-100%;
  right: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
